ENES.xcf
Ex_1.aux
Ex_1.log
Ex_1.synctex.gz
P_1.aux
P_1.log
P_1.nav
P_1.out
P_1.snm
P_1.synctex.gz
P_1.toc
P_2.aux
P_2.log
P_2.nav
P_2.out
P_2.snm
P_2.synctex.gz
P_2.toc
beaker.svg               
main.synctex.gz
cromatofrafia.png        
main.tex
cromatografia.svg        
main.toc
diagrama.png             
mono-camera-test.svg
ENES.png                 
morter.svg
food-spinach.svg         
Pencil.svg
frigorifero.svg          
Petri2.png
glass.svg                
petri.png
Gradiente_potencial.png  
Plasmolisis.png
graf_cambio.png          
Plasmolisis.svg
green.svg                
hot-plate.svg            
preti-plate.svg
main.aux                 
procedimiento.svg
main.bbl                 
referencias.bib
main.blg                 
Sesion_Laboratorios_Ecofisiologia.txss
main.log                 
TeX_files
main.pdf

